* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f4f4f9;
}

/* barra superior */

#barraSuperior {
  background-color: #202a25;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  height: 75px;
}

.contenedorHeader {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.contenedorHeader .navegacionPrincipal {
  display: flex;
  text-align: left;
  align-items: center;
  margin-left: 0px;
  margin-top: 24px;
  margin-bottom: auto;
}

/* logo de barra superior */

.contenedorHeader .LogoPixelBarraSuperior {
  width: 75px;
  height: auto;
  display: flex;
  align-items: flex-end;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: auto;
}

.contenedorHeader .LogoPixelBarraSuperior:hover {
  width: 80px;
  height: auto;
}

.contenedorHeader .LogoPixelBarraSuperior:active {
  width: 80px;
  height: auto;
  filter: sepia(1) saturate(10000%) hue-rotate(90deg) brightness(0);
}

/*navegacion principal y textos*/

.navegacionPrincipal ul {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 0;
  gap: 20px;
  padding: 0;
}

.navegacionPrincipal .textoBarraSuperior a {
  font-style: normal;
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.navegacionPrincipal .textoBarraSuperior a:hover {
  color: #8fffa3;
  font-size: 25px;
}

.navegacionPrincipal .textoBarraSuperior a:active {
  color: #f4f4f9;
  font-size: 20px;
}

/*presentacion pagina*/

.tituloPagina {
  font-size: 40px;
  font-style: inherit;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  text-align: start;
  display: flex;
  margin-left: 15%;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.presentacion {
  font-style: inherit;
  align-items: center;
  display: flex;
  margin-top: 0;
  margin-left: 5%;
  justify-content: space-between;
}

.presentacionSnake {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: justify;
  align-items: start;
  height: auto;
  width: 50%;
  font-size: 24px;
}

.logoSnakePresentacion {
  display: flex;
  align-items: end;
  width: 30%;
  height: auto;
  margin-right: 7%;
  margin-top: -50px;
}

/*proyectos*/

.titulo-Proyectos {
  font-size: 40px;
  font-style: inherit;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  text-align: start;
  display: flex;
  margin-top: 5vh;
  margin-left: 43%;
  margin-bottom: 0;
  font-weight: bold;
}

/* pie de pagina*/

#piePagina {
  background-color: #202a25;
  color: #ccc;
  padding: 10px 0;
  text-align: center;
  font-family: "Arial", sans-serif;
  height: 75px;
  width: 100%;
  margin-bottom: 0;
  bottom: 0;
  position: fixed;
  align-items: center;
}

.contenedorPiepagina {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

/*logo pie de pagina*/

.LogoFacebookBarraInferior {
  height: 50px;
  width: auto;
  margin-top: 5px;
  margin-bottom: auto;
  display: flex;
  margin-right: 10px;
  align-items: end;
}

.LogoFacebookBarraInferior:hover {
  height: 51px;
  width: auto;
}

.LogoFacebookBarraInferior:active {
  height: 50px;
  filter: sepia(10) saturate(100%) hue-rotate(120deg) brightness(0.5);
}

/*texto pie depagina*/
.textoDerechosAutor {
  display: flex;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 33%;
  margin-right: auto;
  color: #ccc;
  text-align: center;
}

/* --- RESPONSIVE DESIGN --- */
@media (max-width: 900px) {
  .contenedorHeader,
  .contenedorPiepagina,
  .presentacion {
    align-items: center;
    text-align: center;
  }

  .tituloPagina{
    margin-left:auto;
    margin-right: auto;
    font-size: 32px;
    text-align: center;
    display: block;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .titulo-Proyectos {
    font-size: 32px;
    display: flex;
    text-align: center;
    align-items: center;
  }

  .navegacionPrincipal ul {
    gap: 10px;
    padding: 0;
    margin-left: 5vh;
  }

  .presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .presentacionSnake{
    width: 90%;      
    font-size: 14px;
    margin: 10px 0;  
    display: block;
  }

  .logoSnakePresentacion{
    width: 50%;      
    font-size: 14px;
    margin: 10px 0;  
    display: block;
  }
  

}

/*telefonos */

@media (max-width: 600px) {
  #barraSuperior,
  #piePagina {
    height: auto;
    padding: 15px 0;
    position: static;
  }

  .LogoPixelBarraSuperior,
  .LogoFacebookBarraInferior {
    width: 50px;
    height: auto;
    margin: 0 auto;
  }

  .tituloPagina {
    font-size: 30px;
    margin-left: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .titulo-Proyectos {
    font-size: 30px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    margin-left: 20vh;
    margin-right: auto;
    align-items: center;
    text-align: center;

  }

  .presentacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }

  .presentacionSnake {
    font-size: 10px;
    display: block;
    width: 40%;
    margin-left: 3vh;
  }

  .logoSnakePresentacion {
    display: block;
    width: 30%; 
    height: auto;
    margin-right: 15vh;
  }

  .contenedorHeader,
  .contenedorPiepagina {
    max-width: 100%;
    padding: 0 10px;
  }

  .textoDerechosAutor {
    margin-left: 0;
    font-size: 12px;
  }
}
